#root, html{
  background-color: #202956;
  color:#B0C779;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

}



.portada{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo{
  width: 70%;
}
.mas{
  margin-top: 70vh;
}
.ultimolanzamiento{
  height: 100vh;
  align-items: center;
}
.spotify{
  position:relative;
  justify-self: center;
  margin-top: 25vh;
}
.conciertos{
  height: 100vh;
}
.conciertos>h1{
  justify-self: center;
}
.cartel{
  height: 100vh;
}
.cartel > img{
  max-width: 300px;
  height: 100vh;

}

.bio{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}
.carrusel{
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textBio{
  width: 80%;
  text-align: justify;
}
.contacto{
  height: 100vh;
}