#root, html{
  background-color: #202956;
  color:#B0C779;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;

}
@font-face {
  font-family: 'Baldosa-Regular';
  src: local('Baldosa-Regular'), url(./assets/fonts/NorthernRailway-Regular.woff) format('woff');

}
@font-face {
  font-family: 'Baldosa-Condensed';
  src: local('Baldosa-Condensed'), url(./assets/fonts/NorthernRailway-Condensed.woff) format('woff');

}
@font-face {
  font-family: 'Baldosa-Bold';
  src: local('Baldosa-Bold'), url(./assets/fonts/NorthernRailway-Bold.woff) format('woff');

}



.portada{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portada > h6{
  font-family: "Baldosa-Bold";
}
.logo{
  width: 70%;
}
.tituloWeb{
  font-family: "Baldosa-Bold";
}
.mas{
  margin-top: 70vh;
  font-family:"Baldosa-Bold";
}
.ultimolanzamiento{
  height: 100vh;
  align-items: center;
}
.spotify{
  position:relative;
  justify-self: center;
  margin-top: 25vh;
}
.conciertos{
  height: 100vh;
}
.conciertos>h1{
  justify-self: center;
  font-family: "Baldosa-Bold";
}
.cartel{
  height: 100vh;
}
.cartel > img{
  /* max-width: 60%; */
  height: 100vh;

}

.bio{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  font-family: "Baldosa-Condensed";
}
.carrusel{
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textBio{
  width: fit-content;
  text-align: justify;
  margin: 3px;
  
}
.pbio{
  font-size: large;
}
.contacto{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.contactIconGrid{
  display: flex;
  justify-items: center;
  align-items: center;
}
.contactIcon{
  width: 1px;
}

/*---------- menu hamburguesa ---------*/
nav{
  width: 100%;
  height: 2em;
  background-color: red;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  display: flex;
  justify-content: right;
  
}
.burger-menu{
  height:100%;
  width: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.burger-bar{
  width: 2em;
  height: 0.2em;
  background-color: aliceblue;
  border-radius: 0.5em;
}
