#root, html{
  background-color: #202956;
  color:#B0C779;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

}
@font-face {
  font-family: 'Baldosa-Regular';
  src: local('Baldosa-Regular'), url(./assets/fonts/NorthernRailway-Regular.woff) format('woff');

}
@font-face {
  font-family: 'Baldosa-Condensed';
  src: local('Baldosa-Condensed'), url(./assets/fonts/NorthernRailway-Condensed.woff) format('woff');

}
@font-face {
  font-family: 'Baldosa-Bold';
  src: local('Baldosa-Bold'), url(./assets/fonts/NorthernRailway-Bold.woff) format('woff');

}



.portada{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo{
  width: 70%;
}
.tituloWeb{
  font-family: "Baldosa-Bold";
}
.mas{
  margin-top: 70vh;
}
.ultimolanzamiento{
  height: 100vh;
  align-items: center;
}
.spotify{
  position:relative;
  justify-self: center;
  margin-top: 25vh;
}
.conciertos{
  height: 100vh;
}
.conciertos>h1{
  justify-self: center;
}
.cartel{
  height: 100vh;
}
.cartel > img{
  /* max-width: 60%; */
  height: 100vh;

}

.bio{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  font-family: "Baldosa-Condensed";
}
.carrusel{
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textBio{
  width: fit-content;
  text-align: justify;
  margin: 3px;
  
}
.pbio{
  font-size: large;
}
.contacto{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.contactIconGrid{
  display: flex;
  justify-items: center;
  align-items: center;
}
.contactIcon{
  width: 1px;
}
